<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" />
    <title>Tic Tac Toe - Tony</title>
  </head>
  <body class="max-w-xl mx-auto">
    <div id="app" class="flex flex-col">
      <h1 class="text-center text-4xl mb-8">Tic Tac Toe</h1>
      <div class="mb-4">
        <div class="block">Put the boards number</div>
        <input v-model="boardSize" class="block border border-gray-200 p-2" />
        <button @click="newGame()" class="block p-2 bg-gray-200 p-2 mt-4 border border-gray-400">
          START
        </button>
      </div>
      <div v-if="winner" class="text-center bg-red-200 p-4 border border-gray-400 mb-8">
        <p>'{{ winner }}' has won the game.</p>
        <button @click="newGame()" class="bg-gray-200 p-2 mt-4 border border-gray-400">
          Play Again
        </button>
      </div>
      <div id="board" class="grid gap-x-1 gap-y-1" :style="{ 'grid-template-columns': gridStyle }">
        <button
          class="bg-yellow-200 h-20 text-2xl font-bold text-gray-500"
          v-for="(square, index) in squares"
          :key="index"
          @click="makeMove(index)"
        >
          {{ square || '&nbsp;' }}
        </button>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="js/index.js"></script>
  </body>
</html>
